.BoxWrapper{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Box{
    height: 100px;
    width: 85%;
    background-color: #bab7b8;
    margin-left: auto;
    margin-right: auto;
    border-color: #5e5e5e;
    border-style: solid;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

.ImageBox{
    height: 70px;
    background-color: #bab7b8;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 1.5px;
    border-color: #5e5e5e;
    border-style: solid; 
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.Article{
    width: 100%;
    float: left;
    text-align: left;
    margin-top: 0.5%;
    max-width: 80%;
    font-size: 20px;
    font-weight: bold;

}

.Subreddit {
    font-weight: bold;
    font-size: 17px;

}

.RedditIcon{
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.SubbredditWrapper{
    float: right;
    margin-right: 2%;
}

.PostWrapper{
    margin-left: 2%;
}

.ArticleContentWrapper{
    width: 100%;
}
.ImageBoxWrapper{
    min-width: 8%;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
    
}